
	<div id="footer" class="Row">
		<div class="footerNav"><a href="/user-logged">Home</a> | <a href="/buy-xdc">Buy XDC</a> | <a href="/send-xdc">Send XDC</a> | <a href="/setting">Setting</a> | <a href="/kyc">KYC</a> | <a href="/support">Support</a></div>
		<div class="copy-right">
			<p>WARNING: This wallet is only compatible with the latest version of Safari and Chrome. © 2017 xinfin.org Foundation. All rights reserved.</p>
		</div>
	</div>

</div>
<!-- wrapper Ends -->

</body>
</html>
