<% include ./partials/header %>

	<div class="wrap">
		<div class="header">
			<div class="header_top">

				<div class="menu">
					<a class="toggleMenu" href="#"><img src="images/nav.png" alt="" />
					</a>
					<ul class="nav">
						<li class="active"><a href="/"><i><img src="images/home.png" alt="" /></i>Home</a>
						</li>
						<li><a href="/signin"><i><img src="images/lock.png" alt="" /></i>Sign In</a>
						</li>
						<li><a href="/contact-us"><i><img src="images/contact.png" alt="" /></i>Contact Us</a>
						</li>
						<div class="clear"></div>
					</ul>
					<script type="text/javascript" src="js/responsive-nav.js"></script>
				</div>


				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="wrap">

			<div class="welcome-text">
				<h1>Welcome to XDC official Wallet.</h1>
				<h2>Secure and easiest way to Store XDC.</h2>
			</div>

			<div class="middleCol">

				<div class="column_right_grid">
					<div class="login-block">
						<h3>Get A Free Ewallet</h3>
						<form id="signUp-form" name="register-form" class="signUp-form mt-30" onsubmit="register();return false;">
							<input type="text" value="" placeholder="Email" id="username" name="email"/>
							<input type="text" value="" placeholder="Mobile Number" id="mobileno" name="mobile"/>
							<input type="password" value="" placeholder="Password" id="password" name="password"/>
							<input type="submit" id="my_submit" class="" value="Sign Up" />
						</form>
						<p>To open a free ewallet account, enter your email,
							<br>choose a password and then click 'Sign Up'.</p>
						<!--<h4><a href="/forgot">Forgot/Reset Password?</a></h4>-->
								<h3>XinFin XDC Pre ICO sale has ended. Thank you for making it a great success. Allow us a few days to set up our ICO and the required deliverables.</h3>
								<h3>Please DO NOT Transfer any ETH from your ether wallet directly to XinFin Address. Ether once lost, can not be recovered.</h3>
								<h3>If you are looking to support XinFin before ICO opens, please write to us at info@xinfin.org</h3>
					</div>

				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>


	<script src="/js/axios.min.js"></script>
	<script>
	register = function() {

		axios.post('/api/account/create', {
			email: document.forms['register-form'].username.value,
			phone: document.forms['register-form'].mobile.value,
			password: document.forms['signUp-form'].password.value
		})
		.then(function (response) {
			if(response.data.status == 'SUCCESS') {
				$('.login-block').html(`<p>Successfully registered. Account activation link has been sent to your ${document.forms['register-form'].username.value} email. Please activate your account and sign in to your wallet.</p>`)
			} else {
				$('.login-block').html(`<p>${response.data.message}.</p>`)

			}
			//location.replace('/signin')
		})
		.catch(function (response) {
			console.log(response);
		});
	}
	</script>
<% include ./partials/footer %>
