<% include ./partials/header %>

	<div class="wrap">
		<div class="header">
			<div class="header_top">

				<div class="menu">
					<a class="toggleMenu" href="#"><img src="images/nav.png" alt="" />
					</a>
					<ul class="nav">
						<li><a href="my-account"><i><img src="images/user.png" alt="" /></i>My Account</a>
						</li>
						<li><a href="buy-xdc"><i><img src="images/buy-xdc.png" alt="" /></i>Buy XDC</a>
						</li>
						<li><a href="send-xdc"><i><img src="images/send-xdc.png" alt="" /></i>Send XDC</a>
						</li>
						<li><a href="statement"><i><img src="images/statement.png" alt="" /></i>Statement</a>
						</li>
						<li><a href="/support"><i><img src="images/support.png" alt="" /></i>Support</a>
						</li>
						<div class="clear"></div>
					</ul>
					<script type="text/javascript" src="js/responsive-nav.js"></script>
				</div>

				<% include ./partials/profile %>

			</div>
		</div>
	</div>



	<div class="main">
		<div class="wrap">

			<div class="middleCol mt-60">

				<div class="column_right_grid">
					<div class="login-block">
						<h3>Upload your Passport Copy</h3>
						<form id="signUp-form" class="uploadPassport-form mt-30" method="POST">
							<input type="file" name="fileupload" value="fileupload" id="fileupload" class="min-padd" />
							<input type="submit" id="my_submit" class="" value="Upload" />
						</form>
					</div>

				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

<% include ./partials/footer %>
